.boll {
    display: flex;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: #d4594c;
}

.black {
    background-color: #393939;
}