.balance {
    border: 1px solid #303035;
    font-size: 14px;
    width: 180px;
    border-radius: 10px;
}

.form-bet {
    max-height: 55px;
    background-color: #2a2a30;
    border: none;
    color: #fff;
}

.btn-bet {
    width: 100%;
}

.btn-dark {
    background-color: #1b1b1e;
}

.my-total {
    width: 100%;
    background-color: #1b1b1e;
    border-radius: 8px;
    color: #DBDBE7;
}