.modal-content {
    background-color: #202023;
    color: #6E6E77;
}

.steam_login {
    display: block;
    height: 70px;
    background: #19191C url('/public/steam.svg') 68px 50% no-repeat;
    color: #fff;
    padding: 0 0 0 117px;
    line-height: 70px;
    transition: all .3s ease;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.steam_login:hover {
    background-color: #4C4C4E;
    color: #fff
}

.login-input {
    background-color: #2a2a30;
    color: #fff;
    border: none;
}

.login-btn {
    width: 100%;
}

.modal-header {
    border-bottom: 1px solid #171718;
}